framework: auto-detect
source https://api.nuget.org/v3/index.json
storage: none

nuget Aardvark.Build               ~> 1.0.24
nuget FSharp.Core                  >= 8.0.0 lowest_matching: true

nuget Aardvark.Base.Tensors        ~> 5.3.0-prerelease0004

group Test
    framework: auto-detect
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget NUnit                    ~> 3.14.0
    nuget NUnit3TestAdapter        ~> 4.5.0
    nuget Microsoft.NET.Test.Sdk   ~> 17.9.0